body{
  font-family: "arial," "helvetica";
  background:url(https://thumbs.dreamstime.com/b/hormig%C3%B3n-gris-de-la-textura-50237528.jpg);
}
.circles_container > a > div{
  margin: auto;
  margin-top: 3rem;
}
.Sillas{
  border-radius: 50%;
  display: flex;
  justify-content: center; nav-down: auto;
}
#Inicio{
  display: flex;
  justify-content: center;
  
}
.menu{
  list-style: none;
  padding: 0;
  background-color: #092327;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border-radius: 2rem
  
}

.menu li a{
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a:hover{
  background: #ef8354;
}
.circle{
  display: grid;
  width: 400px;
  height: 400px;
  background-color: blue;
  border-radius: 100%;
  margin-top: 3rem;
  place-items: center;  
}
.img_blue_container{
  width: 20rem;
  width: 400px;
  height: 400px;
  /* Puse width y heigth 400px para que ocupe el MISMO tamaño que el circulo azul, y queda en "full" xd */
  border-radius: 50%;
}
.buscador{
  display: grid;
  place-items: center;
}
.buscador > input{
  border-radius: 3rem;
  color: #000;
  background:url(img/patron.jpg); 
  padding: .4rem;
  outline: none;
}
.buscador > input:focus{
  outline: none;
}

footer > div{
  display: flex;
  position: sticky;
  justify-content: flex-end;
  height: 16rem;
}

footer> div > img{
  max-width: 9rem;
  object-fit: contain;
}
.article{
  color: #000
  background-color: #fafafa;
  border-radius: 2rem;
}
.article > img{
  max-width: 100%;
  height: 19rem;
}